.upcoming-page {
	width: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;

	h2 {
		text-align: left;
		margin: 20px 20px 10px 20px;
		font-weight: 600;
		font-size: 16pt;
	}

	.players-inner {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.slatesWrapper-outer {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		.slatesWrapper {
			display: flex;
			flex-direction: row;
			margin: 10px 20px 20px 20px;
			width: 1100px;
			align-items: center;
			overflow-x: auto;
			
			.slate {
				min-width: 180px;
				height: 100px;
				padding: 12px;
				margin: 6px;
				border-radius: 12px;
				background-color: #e2e2e2;
				cursor: pointer;
				text-align: center;
				text-decoration: none;
				font-weight: 600;
				line-height: 10pt;
			}
			.slate:hover {
				border: 1px solid grey;
				text-decoration: None;
			}
		}
	}

	.search-btn {
		width: fit-content;

	}
    
    .lineups-table {
        font-size: 10pt;
        width: 80%;
        max-width: 1100px;
    
        .col-labels {
            border-bottom: None;
    
            .col-label {
                border-left: 1px solid gray;
                border-right: 1px solid gray;
            }
        }
    
        .table-header {
            background-color: #d3d3d3;
            border-top: none;
        }
    
        tbody {
            tr:hover {
                background-color: #d5d8dc;
            }
        }
    
        .player-link {
            color: blue;
            text-decoration: none;
        }
    
    }
}

.upcoming-games {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 10px;
}

.upcoming-games > h2 {
	height: 100%;
	font-size: 16pt;
	display: flex;
	align-items: center;
}

.games-list {
	display: flex;
	flex-direction: row;
	list-style-type: None;
	flex-wrap: wrap;
}

.games-list li {
	background-color: white;
	border: 1px solid lightgray;
	padding: 5px;
	border-radius: 5px;
	margin: 3px;
}


.games-outer {
	overflow-x: auto;
}

.games-inner {
	display: flex;
	overflow-x: auto;
}

.games-inner div {
	width: 200px;
	margin: 10px;
}

.game-block { 
    display: flex;
    flex-direction: column;
    img {
        width: 30px;
    }
}

.lineups-table {
	font-size: 10pt;
	width: 80%;
	max-width: 1100px;

	.col-labels {
		border-bottom: None;

		.col-label {
			border-left: 1px solid gray;
			border-right: 1px solid gray;
		}
	}

	.table-header {
		background-color: #d3d3d3;
		border-top: none;
	}

	tbody {
		tr:hover {
			background-color: #d5d8dc;
		}
	}

	.player-link {
		color: blue;
		text-decoration: none;
	}

}