.upcoming-page {
	width: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	align-items: center;

	h2 {
		text-align: left;
		margin: 20px 20px 10px 20px;
		font-weight: 600;
		font-size: 16pt;
	}

	.players-outer {
		width: 90%;
		max-width: 1100px;

		h2 {
			text-align: center;
		}

		.players-inner {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
	
			.lineups-table {
				font-size: 10pt;
				width: 100%;
				max-width: 1100px;
			
				.col-labels {
					border-bottom: None;
			
					.col-label {
						border-left: 1px solid gray;
						border-right: 1px solid gray;
					}
				}
			
				.table-header {
					background-color: #d3d3d3;
					border-top: none;
				}
			
				tbody {
					tr:hover {
						background-color: #d5d8dc;
					}
				}
			
				.player-link {
					color: blue;
					text-decoration: none;
				}
			
			}
		}
	}

	.slatesWrapper-outer {
		width: 90%;
		max-width: 1100px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		.search-btn {
			width: fit-content;
		}

		.slatesWrapper {
			display: flex;
			flex-direction: row;
			margin: 10px 20px 20px 20px;
			width: 100%;
			align-items: left;
			overflow-x: auto;
			
			.slate {
				min-width: 180px;
				height: 100px;
				padding: 12px;
				margin-right: 12px;
				border-radius: 12px;
				background-color: #e2e2e2;
				cursor: pointer;
				text-align: center;
				text-decoration: none;
				font-weight: 600;
				line-height: 10pt;
			}
			.slate:hover {
				border: 1px solid grey;
				text-decoration: None;
			}
		}
	}
}
