.research-page {
	margin-top: 60px;
	margin-left: 250px;
	width: 100%;
	display: flex;
	flex-direction: column;

	.header {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-bottom: 20px;
  	box-shadow: 0px 0px 3px 1px lightgrey;
	}

	.week-search {
		display: flex;
		flex-direction: row;
		width: 90%;
		justify-content: center;
		align-items: center;

		label {
			margin-right: 10px;
		}

		select {
			margin-right: 20px;
		}

		.year-select {
			width: fit-content;
		}

		.week-select {
			width: fit-content;
		}
	}

	.search-results {
		width: 100%;
		display: flex;
		flex-direction: column;
	}

	.games-results {
		width: 80%;

		.games-row-outer {
			display: flex;
			flex-direction: row;
			align-items: center;
		}

		.games-row-wrapper {
			display: flex;
			flex-direction: row;
			align-items: center;
			position: relative;
			overflow-x: hidden;
		}

		.research-card {
			min-width: 150px;
			max-width: 200px;
			min-height: 75px;
			background-color: white;
			margin: 3px;
			border-radius: 5px;
		  display: flex;
		  flex-direction: column;
		  padding: 5px;
		  border: 1px solid #d3d3d3;
		}

		.games-row {
			display: flex;
			flex-direction: row;
			align-content: center;
			transform: translateX(0px);
			transition: all 0.7s ease;
		}
	}

	.players-results {

		.pos-filters {
			list-style-type: None;
			background-color: white;
			display: flex;
			flex-direction: row;
			width: fit-content;
		}

		li {
			border: 1px solid gray;
		}

		.lineups-table {
			font-size: 10pt;

			.col-label {
				border-left: 1px solid gray;
				border-right: 1px solid gray;
			}

		}

	}

	.paddle {
		position: absolute;
		top: 0;
		bottom: 0;
		height: 3rem;
		width: 3rem;
		border-radius: 50%;
		margin: auto;
		background-color: rgb(22,22,22,0.4);
		border: None;
		z-index: 100;
	}

	.left-paddle {
		left: 0;
	}

	.right-paddle {
		right: 0;
	}

	.slider-icon {
		color: white;
	}

	.game-link {
		color: blue;
		text-decoration: none;
	}

	.tabs {

		li {
		  display: inline-block;
		  list-style: none;
		  padding: 5px;
		  margin-top: 3px;
		  margin-bottom: 0;
		  cursor: pointer;
		}

		.active {
		  background-color: white;
		  border: solid #ccc;
		  border-width: 1px 1px 1px 1px;
		}

	}
}
