.createLineupPage {
	width: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;

	.createLineupPage-inner {
		display: flex;
		flex-direction: row;
		justify-content: space-around;

		.lineup-outer {
			flex: 2;
			margin-left: 20px;
			margin-top: 10px;

			.lineup-header {
				h2 {
					text-align: left;
					font-size: 18pt;
					margin-left: 10px;
				}
				strong {
					font-size: 13pt;
					font-weight: 600;
				}
			}
		}

		.players-table-wrapper {
			flex: 3;
			margin-right: 20px;
			margin-top: 10px;

			.players-table-header {
				width: 100%;
				flex-direction: column;
				align-items: center;
				padding-top: 5px;

				.players-table-header-lower {
					display: flex;
					flex-direction: row;
					justify-content: space-between;

					.player-search {
						display: flex;
						flex-direction: row;
						align-items: center;
						justify-content: center;
						height: fit-content;
						border-radius: 3px;
			
						.search-input {
							font-size: 11pt;
							padding: 2px 20px 2px 8px;
							margin: 0;
							border: 1px solid black;
							border-radius: 0;
							outline: none;
							height: 35px;
							border-radius: 2px 0px 0px 2px;
						}
			
						.search-btn {
							font-size: 11pt;
							border-radius: 2px;
							padding-left: 15px;
							padding-right: 15px;
							margin: 0;
							border-radius: 0px 2px 2px 0px;
							height: 35px;
						}
					}
				}

				.filter-btn, .filter-btn-active {
					width: 50px;
					padding: 3px 8px 3px 8px;

					// .pos-filter-wrapper {
					// 	display: flex;
					// 	width: 80%;
					// 	max-width: 1100px;
					// 	justify-content: left;
					// 	align-items: left;
					// 	margin-top: 10px;
				
					// }
				}
				h2 {
					text-align: left;
					font-size: 18pt;
					margin-left: 10px;
				}
			}

			table {
				width: 100%;
				border-spacing: 0;
				
				.row {
					display: flex;
					flex-direction: row;
				}
			}
			thead {
				display: block;
			}
			// thead th:first-child {
			// 	width: 50px;
			// }
			// thead th:nth-child(2), tbody td:nth-child(2) {
			// 	width: 30px;
			// }
			tbody {
				height: 70vh;
				overflow-y: auto;
				display: block;

				.add-icon-outer {
					background-color: var(--btn-blue);
				}
				.add-icon-outer, .no-add-icon-outer {
					height: 40px;
					width: 50px;
					display: flex;
					justify-content: center;
					align-items: center;
				}
				.no-add-icon-outer {
					background-color: var(--grey-2);
				}
				.add-icon, .no-add-icon {
					color: white;
					width: 15px;
					height: 15px;
				}
				.add-icon-outer:hover {
					cursor: pointer;
					background-color: #0a58ca;
				}
			}
			tbody td, thead th {
				width: 200px;
				text-align: left;
			}
		}
	}

	.header {
		width: 100%;
		display: flex;
		justify-content: center;

		.header-inner {
			display: flex;
			flex-direction: row;
			padding: 5px;
			width: 80%;

			.header-label {
				display: flex;
				flex-direction: row;
				align-items: center;
				height: 100%;
				width: 50%;
				
				.site {
					font-size: 18pt;
					font-weight: 600;
					margin: 10px 30px 10px 30px;
				}

				.date {
					font-size: 15pt;
					margin: 10px 30px 10px 0px;
				}
			}
			
			.header-options {
				display: flex;
				flex-direction: row;
				width: 50%;

				button {
					font-size: 14pt;	
					background-color: none;
					background: none;
					border: none;
					margin: 15px 15px 0px 15px;
					padding-bottom: 15px;
				}

				.active {
					border-bottom: 3px solid black;
				}
			}
		}
	}
}