.login-page {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 80vh;
	width: 100vw;

	.login-form-wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: #ffffff;
		border-radius: 10px;
		border: 1px solid lightgrey;
		padding: 40px 80px 40px 80px;
		box-shadow: 0px 0px 3px 1px lightgrey;
		
		h1 {
			font-size: 18pt;
		}

		label {
			font-size: 11pt;
			font-weight: 600;
			margin-top: 20px;
			margin-bottom: 7px;
		}
	}

	input {
		outline: 2px solid #e8e8e8;
		padding: 10px;
	}

	input:focus {
		box-shadow: none !important;
		outline: 2px solid #9e9e9e !important;
	}

	.form-submit-btn {
		margin-top: 20px;
		width: 100%;
		border-radius: 50px;
	}

	.form-control {
		width: 350px;
	}

	.register-page-link-wrapper {
		margin-top: 40px;
		width: 300px;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
	}

	.register-page-link {
		margin-left: 20px;
		text-decoration: none;
		color: blue;
	}

	.alert {
		color: red;
		font-size: 11pt;
		text-align: center;
		margin: 0;
		padding: 0;
	}

	h1 {
		color: #000000;
		font-size: 16pt;
	}

	.show-password {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 20px;
		margin-bottom: 10px;
	}

	.show-password p {
		margin: 0;
	}

	h4 {
		font-weight: 400;
		.register-page-link {
			font-weight: 600;
		}
	}

	.show-password input {
		margin:  0px;
		margin-right: 10px;
	}
}