.players-results {
	width: 90%;
	max-width: 1100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.pos-filter-wrapper {
		display: flex;
		width: 100%;
		justify-content: space-between;
		align-items: left;
		margin-top: 10px;
		margin-bottom: 10px;

		.filter-btn, .filter-btn-active {
			width: 50px;
			padding: 3px 8px 3px 8px;
			font-size: 11pt;
		}

		.player-search {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			height: fit-content;
			border-radius: 6px;

			.search-input {
				font-size: 11pt;
				padding: 2px 20px 2px 8px;
				margin: 0;
				border: 1px solid var(--grey-6);
				outline: none;
				height: 35px;
				border-radius: 6px 0px 0px 6px;
			}
			.search-btn {
				font-size: 11pt;
				border-radius: 2px;
				padding-left: 15px;
				padding-right: 15px;
				margin: 0;
				border-radius: 0px 6px 6px 0px;
				height: 35px;
			}
		}
	}

	.load-more-btn {
		border: None;
		background: None;
		color: var(--btn-blue);
		font-size: 14pt;
		margin-top: 10px;
		margin-bottom: 30px;
		font-weight: 600;
	}

	.lineups-table {
		font-size: 10pt;
		width: 100%;
		max-width: 1100px;

		thead {
			position: sticky;
			top: 0;
			background-color: var(--grey-2);
			border: 1px solid var(--grey-4);
		}

		.col-labels {

			.col-label {
				box-shadow: inset 1px 0px 0 var(--grey-5);

			}
		}

		.table-header {
		}

		tbody {
			tr:hover {
				outline: 1px solid var(--grey-6);
			}
		}
	}
}