.alert-section {
    background-color: var(--green-2);
    border: 2px solid var(--green);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    transition: all 0.5s;
    width: 100%;
    p {
        display: flex;
        font-size: 14pt;
        margin: 0;
        padding: 5px;
        font-weight: 400;
    }
    .close-btn {
        color: black;
        font-size: 16pt;
        margin-right: 15px;
    }
    .close-btn {
        cursor: pointer;
    }
}