.createLineupPage {
	width: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	margin-bottom: 80px;

	.fixed-bottom-footer {
		position: fixed;
		bottom: 0;
		display: flex;
		justify-content: center;
		width: 100%;
		background-color: white;
		box-shadow: var(--box-shadow-1);

		.fixed-bottom-footer-inner {
			max-width: 1200px;
			width: 95%;
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
		}
		.header-details {
			display: flex;
			flex-direction: row;
			align-self: center;

			strong {
				font-weight: 600;
			}
			.info-block {
				margin-right: 40px;

				strong {
					font-size: 12pt;
					font-weight: 500;
					margin: 0;
				}
				p {
					margin-top: 0;
					margin-bottom: 0;
					font-size: 9pt;
					color: var(--grey-9);
				}
			}
		}
		.lineup-btns {
			display: flex;
			flex-direction: row;
			display: flex;
			padding-top: 13px;
			padding-bottom: 13px;

			.clear-btn {
				color: red;
				border: none;
				background: none;
				width: fit-content;
				float: right;
				border: 1px solid red;
				border-radius: 8px;
				padding: 4px 20px 4px 20px;
				font-size: 12pt;
				font-weight: 500;
			}
			button {
				margin-left: 15px;
			}
			.revert-btn {
				background-color: var(--grey-3);
				// padding: 4px 6px 4px 6px;
				color: var(--btn-blue);
				border: None;
				background: None;
				border: 1px solid var(--btn-blue);
				border-radius: 8px;
				padding: 4px 20px 4px 20px;
				font-size: 12pt;
				font-weight: 500;
			}
			.save-btn {
				padding: 4px 20px 4px 20px;
				border-radius: 8px;
				background-color: #ffdb2b;
				font-weight: 500;
				border: None;
				// border: 1px solid var(--grey-4);
				font-size: 12pt;
				font-weight: 500;
			}
			.inactive {
				background-color: var(--grey-4);
				color: black;
				border-color: black;
				cursor: default;
			}
			.save-btn:hover {
				background-color: #ffcc00;
			}
			.inactive:hover {
				background-color: var(--grey-4);
			}
		}
	}
	.loading-wrapper {
		width: 100%;
		min-height: 50vh;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.games-outer {
		display: flex;
		flex-direction: row;
		margin-bottom: 5px;
		overflow-x: auto;
		max-width: 900px;

		.games-inner {
			display: flex;
			flex-direction: row;

			.game {
				background-color: white;
				border: 1px solid var(--grey-4);
				border-radius: 5px;
				margin: 3px;
				cursor: pointer;
				width: 70px;
				height: 60px;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				p {
					margin: 0;
					padding: 0;
					font-size: 9pt;
					font-weight: 500;
				}
			}
			.selected {
				border: 1.5px solid var(--blue-grey-6);
				outline: None;			
			}
			.all {
				align-items: center;
				margin-left: 0;
			}
			:hover {
				background-color: var(--grey-2);
				transition: all 0.2s ease-out;
			}
		}
	}

	.createLineupPage-inner {
		display: flex;
		width: 100%;
		flex-direction: row;
		justify-content: space-around;
		flex-wrap: wrap;

		.lineup-outer {
			margin-left: 20px;
			margin-right: 20px;
			margin-top: 10px;
			max-width: 450px;
			min-width: 400px;

			.title {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				h2 {
					text-align: left;
					font-size: 18pt;
					margin-left: 10px;
				}
				.view-all-btn {
					background: None;
					border: None;
					color: var(--btn-blue);
				}
			}
		}

		.players-table-wrapper {
			flex: 3;
			margin-right: 20px;
			margin-top: 10px;
			max-width: 900px;

			h2 {
				font-size: 18pt;
				margin-left: 10px;
			}
			.players-table-header {
				width: 100%;
				flex-direction: column;
				align-items: center;
				padding-top: 5px;

				.players-table-header-lower {
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					padding-bottom: 8px;

					.player-search {
						display: flex;
						flex-direction: row;
						align-items: center;
						justify-content: center;
						height: fit-content;
						border-radius: 3px;
			
						.search-input {
							font-size: 11pt;
							padding: 2px 20px 2px 8px;
							margin: 0;
							border: 1px solid var(--grey-5);
							border-radius: 0;
							outline: none;
							height: 35px;
							border-radius: 6px 0px 0px 6px;
						}
						.search-btn {
							font-size: 11pt;
							border-radius: 2px;
							padding-left: 15px;
							padding-right: 15px;
							margin: 0;
							border-radius: 0px 6px 6px 0px;
							height: 35px;
						}
					}
				}
				.filter-btn, .filter-btn-active {
					width: 50px;
					padding: 3px 8px 3px 8px;
					font-size: 11pt;
				}
				h2 {
					text-align: left;
					font-size: 18pt;
					margin-left: 10px;
				}
			}
			table {
				width: 100%;
				border-spacing: 0;
				border-collapse: separate;
				border-radius: 6px 6px 6px 6px;
				
				.row {
					display: flex;
					flex-direction: row;
				}
			}
			.lineups-table {
				margin: 0;
			}
			thead {
				display: block;
				height: 30px;				
				border-radius: 6px 6px 0px 0px;
			}
			thead th {
				font-weight: 600;
				font-size: 10pt;
			}
			thead th:nth-child(1), thead th:nth-child(2), tbody td:nth-child(2) {
				width: 50px;
				min-width: 50px;
				max-width: 50px;
			}
			tbody {
				max-height: 70vh;
				overflow-y: auto;
				display: block;
				border-radius: 0px 0px 6px 6px;
				border-collapse: separate;

				.name-col {
					text-align: left;
					padding-left: 10px;
					font-weight: 600;
					color: blue;
					cursor: pointer;
				}
				.add-icon-outer {
					background-color: var(--btn-blue);
					border-bottom: 1px solid var(--grey-5);
				}
				.add-icon-outer, .no-add-icon-outer {
					height: 40px;
					width: 50px;
					display: flex;
					justify-content: center;
					align-items: center;
				}
				.no-add-icon-outer {
					background-color: var(--grey-5);
				}
				.add-icon, .no-add-icon {
					color: white;
					width: 15px;
					height: 15px;
				}
				.add-icon-outer:hover {
					cursor: pointer;
					background-color: var(--btn-blue-2);
				}
			}
			tbody td, thead th {
				width: 200px;
				text-align: center;
				padding: 0;
				height: 30px;
			}
		}
	}
	.header {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		box-shadow: var(--box-shadow-2);

		.header-inner {
			display: flex;
			flex-direction: column;
			width: 95%;
			max-width: 1200px;

			.header-options {
				justify-content: flex-end;

				.generate-btn {
					border: None;
					color: var(--btn-blue);
					cursor: pointer;
					background-color: white;
					padding: 10px;
					border-bottom: 2px solid transparent;
					margin-right: 10px;
				}
				.generate-btn-delete {
					color: red;
				}
				.generate-btn:hover {
					border-bottom: 2px solid var(--btn-blue);
				}
				.generate-btn-delete:hover {
					border-bottom: 2px solid red;
				}
			}
		}
		.header-lower {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			flex-wrap: wrap;
		}
		.header-details {
			display: flex;
			flex-direction: row;
			padding-top: 5px;
			padding-bottom: 10px;

			.date {
				font-size: 11pt;
				font-weight: 400;
			}
			p {
				font-size: 11pt;
				margin-top: auto;
				margin-bottom: auto;
				font-weight: 400;
			}
			strong {
				font-weight: 600;
			}
			.info-block {
				margin-right: 50px;

				strong {
					font-size: 12pt;
					font-weight: 500;
					margin: 0;
				}
				p {
					margin-top: 0;
					margin-bottom: 0;
					font-size: 9pt;
					color: var(--grey-9);
				}
			}
		}
		.header-upper {
			display: flex;
			flex-direction: row;
			width: 100%;
			justify-content: space-between;

			.header-label, .header-options {
				display: flex;
				flex-direction: row;
				align-items: center;
				height: 100%;

				.site {
					font-size: 20pt;
					font-weight: 500;
					margin-top: auto;
					margin-bottom: auto;
					padding-top: 10px;
					padding-bottom: 6px;
				}
			}
		}
	}
	@keyframes moveSlideshow {
		100% { 
		  transform: translateX(-66.6666%);  
		}
	}
}
