.createLineupPage {
	width: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	margin-bottom: 80px;
	.games-outer {
		display: flex;
		flex-direction: row;
		.games-inner {
			display: flex;
			flex-direction: row;
			.game {
				background-color: white;
				border: 1px solid var(--grey-2);
				border-radius: 5px;
				padding: 10px;
				margin: 3px;
				cursor: pointer;
				width: 70px;
				height: 70px;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: flex-start;
				p {
					margin: 0;
					padding: 0;
					font-size: 10pt;
					font-weight: 500;
				}
			}
			.selected {
				border: 2px solid var(--dark-blue);
				outline: None;			}
			.all {
				align-items: center;
			}
			:hover {
				background-color: var(--grey-3);
			}
		}
	}

	.createLineupPage-inner {
		display: flex;
		flex-direction: row;
		justify-content: space-around;

		.lineup-outer {
			flex: 2;
			margin-left: 20px;
			margin-right: 20px;
			margin-top: 10px;
			max-width: 450px;

			.title {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				h2 {
					text-align: left;
					font-size: 18pt;
					margin-left: 10px;
				}
				.view-all-btn {
					background: None;
					border: None;
					color: var(--btn-blue);
				}
			}
			.lineup-header {
				max-width: 450px;
				box-shadow: var(--box-shadow-1);
				background-color: var(--grey-3);

				.lineup-header-info-wrapper {
					display: flex;
					flex-direction: row;
					
					.lineup-header-info {
						width: 50%;
						strong {
							font-family: var(--inter);
							font-weight: 500;
							font-size: 12pt;
						}
						p {
							margin: 0;
						}
					}
					.lineup-header-info:nth-child(2) {
						text-align: right;
					}
				}
			}

			.lineup-btns {
				width: 100%;
				max-width: 450px;
				display: flex;
				flex-direction: row;
				button {
					margin: 8px;
				}
				
				.clear-btn {
					color: red;
					border: none;
					background: none;
					font-size: 13pt;
					width: fit-content;
					float: right;
					flex: 1;
				}
				.revert-btn {
					// border: 1px solid var(--grey-1);
					// background-color: var(--grey-3);
					padding: 6px;
					flex: 1;
					color: var(--btn-blue);
					border: None;
					background: None;
				}
				// .revert-btn:hover {
				// 	background-color: var(--grey-2);
				// }
				.save-btn {
					padding: 6px;
					border: none;
					background-color: #ffdb2b;
					flex: 3;
					max-width: 400px;
					font-size: 13pt;
					font-weight: 500;
					border: 1px solid var(--grey-2);
				}
				.save-btn:hover {
					background-color: #ffcc00;
				}
			}
		}

		.players-table-wrapper {
			flex: 3;
			margin-right: 20px;
			margin-top: 10px;

			.players-table-header {
				width: 100%;
				flex-direction: column;
				align-items: center;
				padding-top: 5px;
				// background-color: white;
				// box-shadow: var(--box-shadow-1);

				.players-table-header-lower {
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					padding-bottom: 8px;

					.player-search {
						display: flex;
						flex-direction: row;
						align-items: center;
						justify-content: center;
						height: fit-content;
						border-radius: 3px;
			
						.search-input {
							font-size: 11pt;
							padding: 2px 20px 2px 8px;
							margin: 0;
							border: 1px solid var(--grey-1);
							border-radius: 0;
							outline: none;
							height: 35px;
							border-radius: 2px 0px 0px 2px;
						}
			
						.search-btn {
							font-size: 11pt;
							border-radius: 2px;
							padding-left: 15px;
							padding-right: 15px;
							margin: 0;
							border-radius: 0px 2px 2px 0px;
							height: 35px;
						}
					}
				}

				.filter-btn, .filter-btn-active {
					width: 50px;
					padding: 3px 8px 3px 8px;

					// .pos-filter-wrapper {
					// 	display: flex;
					// 	width: 80%;
					// 	max-width: 1100px;
					// 	justify-content: left;
					// 	align-items: left;
					// 	margin-top: 10px;
				
					// }
				}
				h2 {
					text-align: left;
					font-size: 18pt;
					margin-left: 10px;
				}
			}

			table {
				width: 100%;
				border-spacing: 0;
				
				.row {
					display: flex;
					flex-direction: row;
				}
			}
			.lineups-table {
				margin: 0;
			}
			thead {
				display: block;
				height: 30px;
			}
			thead th:nth-child(1), thead th:nth-child(2), tbody td:nth-child(2) {
				width: 50px;
				min-width: 50px;
				max-width: 50px;
			}
			// thead th:nth-child(2), tbody td:nth-child(2) {
			// 	width: 30px;
			// }
			tbody {
				max-height: 70vh;
				overflow-y: auto;
				display: block;

				.name-col {
					text-align: left;
					padding-left: 10px;
				}
				.add-icon-outer {
					background-color: var(--btn-blue);
				}
				.add-icon-outer, .no-add-icon-outer {
					height: 40px;
					width: 50px;
					display: flex;
					justify-content: center;
					align-items: center;
				}
				.no-add-icon-outer {
					background-color: var(--grey-2);
				}
				.add-icon, .no-add-icon {
					color: white;
					width: 15px;
					height: 15px;
				}
				.add-icon-outer:hover {
					cursor: pointer;
					background-color: #0a58ca;
				}
			}
			tbody td, thead th {
				width: 200px;
				text-align: center;
				padding: 0;
				height: 30px;
			}
		}
	}

	.header {
		width: 100%;
		display: flex;
		justify-content: center;
		border-bottom: 1px solid var(--grey-2);

		.header-inner {
			display: flex;
			flex-direction: row;
			padding: 5px;
			width: 80%;

			.header-label {
				display: flex;
				flex-direction: row;
				align-items: center;
				height: 100%;
				
				.site {
					font-size: 18pt;
					font-weight: 600;
					margin: 10px 30px 10px 30px;
				}

				.date {
					font-size: 14pt;
					margin: 10px 30px 10px 0px;
					font-weight: 400;
				}
			}
			
			.header-options {
				display: flex;
				flex-direction: row;
				width: 50%;

				button {
					font-size: 14pt;	
					background-color: none;
					background: none;
					border: none;
					margin: 15px 15px 0px 15px;
					padding-bottom: 15px;
				}

				.active {
					border-bottom: 3px solid black;
				}
			}
		}
	}
	@keyframes moveSlideshow {
		100% { 
		  transform: translateX(-66.6666%);  
		}
	  }
}