.lineupPlayerNewV2 {

    background-color: white;
    border: 1px solid #d3d3d3;
    display: flex;
    flex-direction: row;
    max-width: 450px;

    .playerImage {
        align-self: center;
        height: 100%;
        display: flex;
        flex-direction: column;
        margin-right: 15px;
        padding-top: 5px;

        p {
            padding: 0;
            margin: 0;
            height: 20%;
            text-align: center;
            font-weight: 500;
            background-color: var(--grey-2);
        }

        img {
            height: 80%;
            // max-width: 80px;
        }
    }

    .positionAndNumber {
        width: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex: 1;

        .playerPosition {
            font-size: 12pt;
            font-weight: 600;
        }

        .playerNumber {
            font-size: 9pt;
        }
    }

    .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        margin: 0;
        width: 60px;

        .add-icon {
            color: var(--btn-blue);
            font-size: 27pt;
        }
        .delete-icon {
            color: red;
            font-size: 20pt
        }
    }

    .name-and-info {
        display: flex;
        flex-direction: column;
        width: 300px;
        flex: 1;

        .playerInfo {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            width: 100%;
            height: 50%;
    
            .infoBlock {
                flex: 1;
                display: flex;
                justify-content: left;
    
                p {
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    justify-content: center;
                    align-items: center;
    
                    .value {
                        font-size: 11pt;
                        font-weight: 600;
                    }
    
                    .label {
                        font-size: 8pt;
                        color: gray;
                    }
                }
            }
        }

        .playerName {
            display: flex;
            height: 50%;
            cursor: pointer;
            font-weight: 700;
    
            p {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                font-size: 12pt;
                color: blue;
                font-weight: 500;
                font-family: var(--nunito);
            }
        }
    }
}