.upcoming-players-table {
    .empty-players-row {
        .add-players-btn {
            background: None;
            border: None;
            color: var(--btn-blue);
            font-weight: 600;
        }
    }
}