.upcoming-players-table {
    .empty-players-row {
        .add-players-btn {
            background: None;
            border: None;
            color: var(--btn-blue);
            font-weight: 600;
        }
    }
    tbody {
        font-weight: 400;
        tr {
            td {
                .bold {
                    font-weight: 800;
                }
            }
        }
    }
}