.upcoming-page {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;

	.players-outer {
		width: 95%;
		max-width: 1100px;

		.filters-outer {
			display: flex;
			flex-direction: row;
			margin-bottom: 10px;

			.pos-filter-wrapper {
				display: flex;
				width: 80%;
				max-width: 1100px;
				justify-content: left;
				align-items: center;

				.filter-btn, .filter-btn-active {
					width: 50px;
					padding: 3px 8px 3px 8px;
					font-size: 11pt;
				}
			}
			.player-search {
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: center;
				height: fit-content;
				border-radius: 3px;

				.search-input {
					font-size: 11pt;
					padding: 2px 20px 2px 8px;
					margin: 0;
					border: 1px solid var(--blue-grey-5);
					border-radius: 0;
					outline: none;
					height: 35px;
					border-radius: 6px 0px 0px 6px;
				}
				.search-btn {
					font-size: 11pt;
					border-radius: 2px;
					padding-left: 15px;
					padding-right: 15px;
					margin: 0;
					border-radius: 0px 6px 6px 0px;
					height: 35px;
				}
			}
		}
		.players-outer-header {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			padding-top: 10px;
			padding-bottom: 10px;

			.btn-wrapper {
				display: flex;
				flex-direction: row;

				.lineup-options-btn {
					text-decoration: None;
					background-color: var(--btn-blue);
					border: None;
					color: white;
					padding: 4px 15px 4px 15px;
					border-radius: 20px;
					transition: all 0.3s;
					height: fit-content;
					font-size: 12pt;

					.icon {
						height: 15px;
					}
				}
				.lineup-options-btn:hover {
					background-color: var(--btn-blue-2);
				}
			}
			h2 {
				text-align: left;
				font-weight: 600;
				font-size: 18pt;
				margin-top: auto;
				margin-bottom: auto;
				.slate-title {
					font-size: 18pt;
					font-weight: 500;
				}
			}
			p {
				margin-bottom: 0;
			}
		}
		.players-inner {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
	
			.lineups-table {
				font-size: 10pt;
				width: 100%;
				max-width: 1100px;

				thead {
					position: sticky;
					top: 0;
				}
				.col-labels {
					border-bottom: None;
			
					.col-label {
						border-left: 1px solid gray;
						border-right: 1px solid gray;
					}
				}
				.header-labels th:hover {
					cursor: pointer;
					background-color: var(--grey-2);
				}
				th {
					transition: all 0.1s;
				}
				.header-labels .selected {
					background-color: var(--grey-2);
					border: None;
					outline: None;
				}
				.table-header {
					background-color: #d3d3d3;
					border-top: none;
				}
				tbody {
					tr:hover {
						background-color: #d5d8dc;
					}
					tr {
						transition: all 0.1s;
						font-weight: 400;

						.player-col {
							text-align: left;
						}
						.bold {
							font-weight: 800;
						}
					}
				}
			}
		}
	}
	.site-filter-wrapper {
		margin-top: 20px;
		width: 100%;
		justify-content: center;
		display: flex;
		flex-direction: row;
		align-items: center;
		border-bottom: 2px solid var(--blue-grey-2);

		.site-filter-wrapper-inner {
			max-width: 1100px;
			display: flex;
			flex-direction: row;
			justify-content: left;
			width: 100%;
		}
		h2 {
			text-align: left;
			margin: 20px 20px 10px 0px;
			font-weight: 600;
			font-size: 18pt;
		}
		.underline-btn {
			border: None;
			background: None;
			padding: 5px 15px 5px 15px;
			font-weight: 600;
			font-size: 14pt;
			border-bottom: 3px solid transparent;
			transition: all 0.2s;
		}
		.underline-btn:hover:not(.active) {
			border-bottom: 3px solid var(--grey-5);
		}
		.active {
			border-bottom: 3px solid var(--dark-blue);
		}
	}
	.slatesWrapper-outer {
		width: 95%;
		max-width: 1100px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		h3 {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
		}
		.search-btn {
			width: fit-content;
		}
		.slatesWrapper {
			display: flex;
			flex-direction: row;
			margin: 10px 20px 10px 20px;
			width: 100%;
			max-width: 1100px;
			align-items: left;
			overflow-x: auto;
			padding: 6px;

			.slate {
				min-width: 180px;
				height: 100px;
				padding: 12px;
				margin-right: 12px;
				border-radius: 12px;
				background-color: white;
				cursor: pointer;
				text-align: left;
				text-decoration: none;
				font-weight: 600;
				line-height: 10pt;
				overflow: visible;
				box-shadow: var(--box-shadow-1);
				border: 2px solid transparent;
				transition: all 0.2s;

				p:first-child {
					font-weight: 600;
					font-size: 11pt;
				}
				.link-btn {
					width: fit-content;
					transition: all 0.2s;
				}
			}
			.slate:hover:not(.active) {
				border: 2px solid var(--grey-4);
				text-decoration: None;
			}
			.active {
				border: 2px solid var(--dark-blue);
			}
			.link-btn {
				color: var(--btn-blue);
			}
			.link-btn:hover {
				color: var(--dark-blue);
			}
		}
	}
	.loading-screen {
		height: 50vh;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
