.upper-nav {
    display: flex;
    justify-content: center;
    background-color: #788a95;

    .upper-nav-inner {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 1200px;;

        h1, h2 {
            margin-left: 20px;
            margin-right: 20px;
            color: white;
        }
    }
}