.upper-nav {
    display: flex;
    justify-content: center;
    background-color: var(--dark-blue);

    .upper-nav-inner {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 1200px;;

        h1, h2 {
            margin-left: 20px;
            margin-right: 20px;
            color: white;
        }

        h1 {
            font-size: 16pt;
        }

        h2 {
            font-size: 13pt;
        }
    }
    .logout-btn {
        cursor: pointer;
    }
    .logout-btn:hover {
        color: var(--dark-blue);
    }
}