.login-form-wrapper {
	width: 55%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

input {
	margin: 20px;
	outline: 2px solid #e8e8e8;
}

input:focus {
	box-shadow: none !important;
	outline: 2px solid #9e9e9e !important;
}

.form-submit-btn {
	margin-top: 30px;
	width: 100%;
}

.login-page {
	display: flex;
	flex-direction: row;
	height: 100vh;
}

.hero {
	width: 45%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.hero h1 {
	font-size: 60pt;
}

.form-control {
	width: 300px;
}

.register-page-link-wrapper {
	margin-top: 40px;
	width: 300px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.register-page-link {
	margin-left: 20px;
	text-decoration: none;
}