.past-lineup {
    box-shadow: var(--box-shadow-1);
    max-width: 600px;
    height: fit-content;
    border-radius: 8px;
    margin: 4px;

    .lineup-header {
        background-color: var(--grey-9);
        border-radius: 6px 6px 0px 0px;
        .points {
            color: white;
            padding: 10px;
            font-size: 12pt;
        }
    }
    .player:first-child {
        border-radius: 8px 8px 0px 0px;
    }
    .player:last-child {
        border-radius: 0px 0px 8px 8px;
    }
    :last-child {
        border: None;
    }
    .selected {
        outline: 2px solid var(--grey-5);
        border-bottom: 1px solid transparent;
    }
}
