.lower-nav {
	background-color: #202033;
	width: 100%;
    display: flex;
    justify-content: center;

    .lower-nav-inner {
        max-width: 1200px;
        width: 100%;
        height: fit-content;

        .lower-nav-links {
            display: flex;
            flex-direction: row;
            list-style-type: none;
            margin: 0;

            .nav-link {
                font-size: 12pt;
                color: white;
                padding: 10px 15px 10px 15px;
                margin: 0;
                transition: all 0.2s;
            }

            .nav-link:hover {
                color: #d3d3d3;
                background-color: black;
            }

            .active {
                color: #d3d3d3;
                background-color: black;;
            }
        }
    }
}
