.top-nav {
	display: flex;
	flex-direction: row;
	position: fixed;
	top: 0;
	width: 100%;
  	height: 60px;
  	background-color: #202033;
  	z-index: 100;
  	justify-content: space-between;
}

.top-nav h1 {
	color: white;
	margin-left: 250px;
}

.top-nav-links {
	display: flex;
	flex-direction: row;
	list-style: none;
	height: 100%;
	justify-content: right;
	align-items: center;
	padding-right: 10%;
}

.top-nav-links li {
	height: 100%;
	display: flex;
	align-items: center;
}

.top-nav-link:hover {
	color: #d3d3d3;
}