.single-lineup-page {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.loading-screen {
  min-height: 100%;
}

.back-btn-wrapper {
  background: #2d78fa;
  display: flex;
}

.back-btn:hover, {
  color: #ffffff;
  border-bottom: 3px solid #ffffff;
}

.back-btn {
  color: blue;
  font-size: 13pt;
  text-decoration: None;
  width: 100%;
  height: 50px;
}

.cancel-add-btn {
  border: None;
  background: None;
  padding: 5px;
  margin: 3px;
  color: #991728;
  text-transform: uppercase;
  font-size: 11pt;
}

.lineup-header-wrapper {
  background-color: #ffffff;
  width: 100%;
  display: flex;
  justify-content: center;
  box-shadow: ;
  border-bottom: 1px solid #202033;
/*  box-shadow: 0px 0px 3px 1px lightgray;*/
  z-index: 90;
}

.lineup-header {
  width: 100%;
  padding: 10px;
}

.lineup-title {
  font-size: 30px;
  text-align: left;
  font-weight: 700;
}

.lineup-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.lineup-detail {
  font-size: 12pt;
  margin-right: 30px;
  font-weight: 500;
  height: 100%;
  display: flex;
  align-items: center;
}

.edit-wager-btn {
  background: None;
  border: None;
  box-shadow: None;
  display: inline-flex;
  align-items: center;
  color: blue;
  text-decoration: underline;
}

.lineup-details span {
  display: inline-flex;
  padding: 5px;
}

h1 {
  text-align: center;
  font-size: 20pt;
  padding: 5px;
  margin-top: 10px;
}

.row {
  display: flex;
  justify-content: space-around;
}

.close-btn, .submit-btn {
  border: None;
  background:  None;
}

.submit-btn {
  color: blue;
}

.close-btn {
  color: red;
}

.player-info-table {
  width: 100%;
  margin-bottom: 10px;
}

.player-info-dialog h3 {
  font-size: 20pt;
  color: #000000;
}

.player-info-dialog h4 {
  font-size: 13pt;
}

.player-info-dialog p {
  margin: 0;
  font-size: 12pt;
}

.player-info-content, .player-info-actions {
  background-color: #f0f3f8;
}

.player-name {
  color: blue;
  cursor: pointer;
}

.lineup-information {
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-shadow: 0px 0px 3px 1px lightgray;
}


.lineup-information-inner {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.lineup-details p {
  font-size: 13pt;
}
