.lineupPlayerNew {

    background-color: white;
    border: 1px solid #d3d3d3;
    display: flex;
    flex-direction: row;
    max-width: 500px;
    padding: 8px;

    .playerImage {
        align-self: flex-end;
        height: 100%;

        img {
            width: 60px;
        }
    }

    .positionAndNumber {
        width: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .playerPosition {
            font-size: 12pt;
            font-weight: 600;
        }

        .playerNumber {
            font-size: 10pt;
        }
    }

    .playerName {
        display: flex;
        flex: 2;

        p {
            height: 100%;
            line-height: 0.6rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            font-size: 12pt;
            color: blue;

            .firstName {
                font-weight: 400;
            }

            .lastName {
                font-weight: 700;
            }

        }
    }

    .playerInfo {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 60%;

        .infoBlock {
            flex: 1;

            p {
                line-height: 6pt;
                display: flex;
                flex-direction: column;
                height: 100%;
                justify-content: center;
                align-items: center;

                .value {
                    font-size: 12pt;
                    font-weight: 400;
                }

                .label {
                    font-size: 8pt;
                    color: gray;
                }
            }
        }

        .icon {
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 1;
            cursor: pointer;
            margin: 0;

            .add-icon {
                color: var(--btn-blue);
                font-size: 27pt;
            }
            .delete-icon {
                color: red;
                font-size: 20pt
            }
        }

    }

}