.lineups-table-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;

	.lineups-table-wrapper-inner {
		width: 100%;
		max-width: 1100px;
		.table-header-wrapper {
			display: flex;
			justify-content: space-between;
			.lineup-wrapper-header {
				width: 50%;
				display: flex;
				justify-content: right;
				align-items: center;
				.lineup-options-btn {
					text-decoration: None;
					background-color: var(--btn-blue);
					color: white;
					border: 1px solid var(--grey-1);
					padding: 7px 13px 7px 15px;
					border-radius: 20px;
					transition: all 0.2s;
					.icon {
						height: 10px;
					}
				}
				.lineup-options-btn:hover {
					background-color: var(--btn-blue-2);
				}
				.lineup-delete-btn {
					background-color: red;
					text-decoration: None;
					color: white;
					border: 1px solid var(--grey-1);
					margin: 6px;
					padding: 8px;
					border-radius: 10px;
				}
			}
			.pos-filter-wrapper {
				margin-top: 10px;
				.filter-btn, .filter-btn-active {
					font-size: 11pt;
					padding: 5px 10px 5px 10px;

				}
			}
			.selectors {
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: center;
				select {
					margin-right: 10px;
					padding: 4px 16px 4px 8px;
					font-size: 11pt;
				}
				.week-select {
					width: 120px;
					border-radius: 6px;
					border: 1px solid var(--blue-grey-5);
				}
				.year-select {
					width: 100px;
					border-radius: 6px;
					border: 1px solid var(--blue-grey-5);
				}
			}
		}
		table {
			margin-top: 0px;
			thead th {
				font-size: 10pt;
				text-align: left;
			}
			tbody td {
				text-align: left;
				font-size: 9pt;
			}
		}
	}

	.page-btn-wrapper {
		width: inherit;
		text-align: right;
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		margin-bottom: 5px;
		margin-top: 5px;

		.page-btn {
			color: var(--btn-blue);
			border: 1px solid var(--blue-grey-4);
			margin-left: 5px;
			padding: 0px 7px 0px 7px;
			border-radius: 3px;
			cursor: pointer;
			user-select: None;
		}

		.page-btn-active {
			background-color: var(--btn-blue);
			color: white;
			margin-left: 5px;
			padding: 0px 7px 0px 7px;
			border-radius: 3px;
			border: 1px solid var(--btn-blue);
			user-select: None;
		}

		.page-arrow {
			color: var(--blue-grey-4);
			border: 1px solid var(--blue-grey-4);
			margin-left: 5px;
			padding: 0px 4px 0px 4px;
			border-radius: 3px;
			user-select: None;
		}

		.page-arrow-active {
			color: var(--btn-blue);
			border: 1px solid var(--blue-grey-4);
			margin-left: 5px;
			padding: 0px 4px 0px 4px;
			border-radius: 3px;
			user-select: None;
			cursor: pointer;

		}

		.page-label {
			margin-right: 20px;
		}
	}
	input {
		height: 100%;
		width: 100%;
		margin: auto;
		
	}
}
