.lineups-table-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;

	.lineups-table-wrapper-inner {
		width: 100%;
		max-width: 1100px;

		.lineups-title {
			max-width: 1100px;
			display: flex;
			margin-left: auto;
			margin-right: auto;

			h2 {
				margin: 20px 20px 10px 5px;
				font-weight: 600;
				font-size: 18pt;
			}
		}
		.table-header-wrapper {
			display: flex;
			width: 100%;
			flex-direction: column;

			.pos-filter-wrapper {
				margin-top: 10px;

				.filter-btn, .filter-btn-active {
					font-size: 11pt;
					padding: 5px 10px 5px 10px;
				}
			}
			.tag-filter-wrapper {
				display: flex;
				flex-direction: row;
				margin-top: 10px;
				margin-bottom: 10px;

				.tag-filter {
					border-radius: 6px;
					padding: 4px 8px 4px 8px;
					margin-right: 4px;
					background-color: var(--btn-blue);
					display: flex;
					flex-direction: row;
					border: None;
					color: white;
					font-size: 11pt;

					p {
						margin-bottom: 0;
					}
					.delete-icon {
						// display: None;
						color: white;
						margin-top: auto;
						margin-bottom: auto;
						margin-right: 5px;
						cursor: pointer;
					}
				}
			}
			.selectors {
				display: flex;
				flex-direction: row;
				margin-bottom: 10px;

				select {
					margin-right: 10px;
					padding: 4px 16px 4px 8px;
					font-size: 11pt;
					color: var(--btn-blue);
				}
				.week-select {
					border-radius: 6px;
					border: 1px solid var(--blue-grey-5);
					cursor: pointer;
				}
				.year-select {
					border-radius: 6px;
					border: 1px solid var(--blue-grey-5);
					cursor: pointer;
				}
			}
		}
		.lineups-table {
			margin-top: 0px;
			// border-radius: 20px 20px 0px 0px;
			box-shadow: var(--box-shadow-1);
			border: None;

			thead {
				display: block;
				// border-radius: 20px 20px 0px 0px;
				position: sticky;
				top: 0;

				.lineup-wrapper-header {
					display: flex;
					justify-content: space-between;
					padding: 10px 10px 0px 10px;

					.lineup-options-btns {
						display: flex;
						align-items: center;
						height: fit-content;
					}
					.download-btn {
						color: var(--btn-blue)
					}
					.selected-counter {
						font-size: 10pt;
						margin-left: 20px;
					}
					.lineup-options-btn {
						text-decoration: None;
						color: var(--btn-blue);
						background: None;
						border: None;
						border-radius: 20px;
						transition: all 0.2s;
						font-size: 14pt;
						height: 40px;
						width: 40px;
						display: flex;
						justify-content: center;
						align-items: center;

						.icon {
							margin: auto;
						}
					}
					.lineup-options-btn:hover {
						background-color: var(--grey-2);
					}
					.lineup-delete-btn {
						background-color: var(--red);
						text-decoration: None;
						color: white;
						border: 1px solid var(--grey-1);
						margin: 6px;
						padding: 7px 13px 7px 15px;
						border-radius: 20px;
						font-size: 11pt;
					}
					.lineup-export-btn {
						background-color: var(--btn-blue);
						text-decoration: None;
						color: white;
						border: 1px solid var(--grey-1);
						margin: 6px;
						padding: 7px 13px 7px 15px;
						border-radius: 20px;
						font-size: 11pt;
					}
					.lineup-export-btn:hover {
						background-color: var(--btn-blue-2);
					}
					.lineup-delete-btn:hover {
						background-color: var(--red-2);
					}
				}
				tr {
					display: flex;
				}
				th {
					font-size: 10pt;
					text-align: left;

				}
			}
			.sortable-col {
				cursor: pointer;
				user-select: None;
			}
			thead th:nth-child(n + 2), tbody td:nth-child(n + 2) {
				width: 20%;
			}
			thead th:nth-child(1), tbody td:nth-child(1) {
				width: 5%;
			}
			thead th:nth-child(2), tbody td:nth-child(2) {
				width: 5%;
			}
			tbody {
				// max-height: 80vh;
				// overflow-y: auto;
				display: block;
				border: 1px solid var(--grey-4);
				tr {
					display: flex;
				}
				td {
					text-align: left;
					font-size: 9pt;
				}

				.tag-col {
					width: 300px;
					-ms-overflow-style: none;
					scrollbar-width: none;

					::-webkit-scrollbar {
						display: none;
					}

					.tags-wrapper {
						display: flex;
						flex-direction: row;
						overflow-x: auto;
						width: 300px;

						.tag {
							border: 1px solid var(--btn-blue);
							border-radius: 6px;
							padding: 0px 3px 0px 3px;
							margin-right: 2px;
							margin-bottom: 0;
							white-space: nowrap;
							color: var(--btn-blue);
						}

						.tag:hover {
							border: 1px solid transparent;
							background-color: var(--btn-blue);
							color: white;
							cursor: pointer;
						}
					}
				}
			}
		}
	}
	.page-btn-wrapper {
		float: right;
		width: inherit;
		text-align: right;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		background-color: var(--grey-4);
		border-radius: 0px 20px 0px 20px;
		padding: 10px 10px 0px 0px;

		.page-btn {
			color: var(--btn-blue);
			border: 1px solid var(--blue-grey-4);
			margin-left: 5px;
			padding: 0px 7px 0px 7px;
			border-radius: 3px;
			cursor: pointer;
			user-select: None;
		}
		.page-btn-active {
			background-color: var(--btn-blue);
			color: white;
			margin-left: 5px;
			padding: 0px 7px 0px 7px;
			border-radius: 3px;
			border: 1px solid var(--btn-blue);
			user-select: None;
		}
		.page-arrow {
			color: var(--blue-grey-4);
			border: 1px solid var(--blue-grey-4);
			margin-left: 5px;
			padding: 0px 4px 0px 4px;
			border-radius: 3px;
			user-select: None;
		}
		.page-arrow-active {
			color: var(--btn-blue);
			border: 1px solid var(--blue-grey-4);
			margin-left: 5px;
			padding: 0px 4px 0px 4px;
			border-radius: 3px;
			user-select: None;
			cursor: pointer;
		}
		.page-label {
			margin-right: 20px;
		}
	}
	input {
		height: 100%;
		width: 100%;
		margin: auto;
	}
}
