.lineups-table {
	background: #ffffff;
	box-shadow: 0px 0px 3px 1px lightgrey;
	width: 100%;
	margin: 10px;
}

.lineups-table thead {
	background-color: lightgrey;
}

.lineups-table tr {
	border: 1px solid lightgrey;
}

.lineups-table tr:nth-child(even) {
	background-color: #f2f2f2;
}

.lineups-table tr:first-child {
	border-top: None;
}

.lineups-table tr:last-child {
	border-bottom: None;
}

.lineups-table th {
	padding: 10px;
	text-align: center;
}

.lineups-table td {
	padding: 10px;
	text-align: center;
}

.graphs-wrapper {
  display: flex;
  margin: 20px;
}

.close-btn, .submit-btn {
	border: None;
	background:  None;
}

.submit-btn {
	color: blue;
}

.close-btn {
	color: red;
}

.filter-btn-active {
  border: 1px solid #0069ed;
  background-color: #0069ed;
  color: #ffffff;
  padding: 5px;
}

.filter-btn {
  border: 1px solid #0069ed;
  color: #0069ed;
  background-color: #ffffff;
  padding: 5px;
}

.filter-btn-wrapper {
  padding: 10px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.graph-btn-wrapper {
	width: 90%;
	margin-bottom: 15px;
}

.graph-btn:hover {
	color: #000000;
}

.graph-btn {
	color: #4f4f4f;
}

.graph-btn, .graph-btn-active {
	border: None;
	background: None;
	margin-right: 20px;
	font-size: 18pt;
	padding-bottom: 5px;
}

.graph-btn-active {
	border-bottom: 3px solid black;
	color: black;
}

.icon {
	margin-bottom: 4px;
	margin-right: 3px;
}

.fire-icon {
	color: orange;
}

.ice-icon {
	color: blue;
}

