.footer {
	padding: 20px;
	margin-top: 50px;
	background-color: #d3d3d3;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer-inner {
	display: flex;
	flex-direction: row;
	justify-content: space;
	align-items: center;
}

.footer-inner p {
	margin: 0px;
	margin-right: 20px;
	font-size: 12pt;
}

.contact-icon {
	margin-left: 20px;
	width: 30px;
}
