.past-players-table {
    tbody .add-icon-outer {
        width: 50px;
        min-width: 50px;
        max-width: 50px;
    }
    .add-icon-header {
        width: 50px;
        width: 50px;
        min-width: 50px;
        max-width: 50px;
    }
    tbody {
        max-height: 70vh;
        overflow-y: auto;
        display: block;
        border-radius: 0px 0px 6px 6px;
        border-collapse: separate;

        .name-col {
            text-align: left;
            padding-left: 10px;
            font-weight: 600;
            color: blue;
            cursor: pointer;
        }
        .add-icon-outer {
            background-color: var(--btn-blue);
            border-bottom: 1px solid var(--grey-5);
        }
        .favorite-icon-outer {
            background-color: var(--green);
            border-bottom: 1px solid var(--grey-5);
        }
        .favorite-icon-outer:hover {
            cursor: pointer;
            background-color: var(--green-2);
        }
        .undraftables-icon-outer {
            background-color: var(--red);
            border-bottom: 1px solid var(--grey-5);
        }
        .undraftables-icon-outer:hover {
            cursor: pointer;
            background-color: var(--red-2);
        }
        .favorite-icon-outer, .no-favorite-icon-outer {
            height: 40px;
            width: 50px;
            border-right: 1px solid white;
            justify-content: center;
            align-items: center;
        }
        .undraftables-icon-outer, .no-undraftables-icon-outer {
            height: 40px;
            width: 50px;
            border-right: 1px solid white;
            justify-content: center;
            align-items: center;
        }
        .add-icon-outer, .no-add-icon-outer {
            height: 40px;
            width: 50px;
            border-right: 1px solid white;
            justify-content: center;
            align-items: center;
        }
        .no-add-icon-outer {
            background-color: var(--grey-5);
        }
        .add-icon, .no-add-icon, .favorite-icon, .no-favorite-icon, .undraftables-icon, .no-undraftables-icon {
            color: white;
            width: 15px;
            height: 15px;
        }
        .add-icon-outer:hover {
            cursor: pointer;
            background-color: var(--btn-blue-2);
        }
    }
}