@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap');


* {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--white-1);
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
}

:root {
  --btn-blue: #0069ed;
  --btn-blue-2: #0a58ca;
  --grey-1: #5d6f7a;
  --grey-2: lightgrey;
  --grey-3: #f2f2f2;
  --roboto: 'Nunito', sans-serif;
  --inter: 'Inter', serif;
  --source-sans: 'Source Sans Pro', sans-serif;
  --box-shadow-1: 0px 0px 3px 1px lightgray;
  --black-1: #141414;
  --black-2: #161B22;
  --space-blue: #2A2F44;
  --slate: #788A95; 
  --white-1: #f7fafc;
  --dark-blue: #202033;
  --dark-red: #282119;
  --dark-other: #15233A;
  --green: rgba(55, 230, 78, 0.8);
  --green-2: #2fd444;
}

.page {
  margin-top: 100px
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.page-wrapper-inner {
  display: flex;
  flex-direction: row;
  height: 100%;
}

a {
  color: white;
}

.hidden {
  display: None;
}

.form-control {
  border: None;
}

.wagerform {
  display: flex;
}

.ring {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.players-wrapper {
  margin-top: 50px;
}

.header {
  background-color: #ffffff;
}

.filter-btn-active {
  border: 1px solid #0069ed;
  background-color: #0069ed;
  color: #ffffff;
  padding: 5px;
  font-size: 13pt;
}

.filter-btn {
  border: 1px solid #0069ed;
  color: #0069ed;
  background-color: #ffffff;
  padding: 5px;
  font-size: 13pt;
}

.delete-lineup-link {
  text-decoration: none;
  color: #991728;
}

.players {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.search-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-search-form {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  width: 100%;
  max-width: 500px;
}

.pos-label {
  color: black;
  background-color: #d3d3d3;
  padding: 3px;
  margin: 3px;
  text-transform: uppercase;
  font-size: 11pt;
}

.players {
  box-shadow: 0px 0px 3px 1px lightgray;
}

.search-label {
  font-size: 14pt;
}

.players {
  display: flex;
  flex-direction: column;
  align-content: center;
  max-height: 70vh;
  overflow: auto;
}

.player {
  height: 80px;
  display: flex;
  background-color: #ffffff;
  border: 1px solid #d3d3d3;
}

.player-body {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

/*.player:hover {
  border: 1px solid #9e9e9e;
}*/

.delete-btn, .add-btn {
  text-align: right;
  margin-bottom: -7px;
}

.delete-lineup-btn {
  display: block;
  color: #ffffff;
  background: #f6404f;
  font-size: 12pt;
  padding: 5px;
  margin: 5px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border: solid 1px #f6404f;
  border-radius: 3px;
  text-decoration: none;
}

.delete-lineup-btn:hover {
  background: None;
  color: #f6404f;
}

.search-btn {
  display: block;
  background: #0069ed;
  color: #ffffff;
  font-size: 12pt;
  padding: 5px 10px 5px 10px;
  margin: 5px;
  border: solid 1px #0069ed;
  border-radius: 10px;
  text-decoration: none !important;
}

.view-players-btn {
  display: block;
  background: #0069ed;
  color: #ffffff;
  font-size: 12pt;
  padding: 5px;
  margin: 5px;
  width: 50%;
  border: solid 1px #0069ed;
  border-radius: 3px;
  margin-right: auto;
  margin-left: auto;
  text-decoration: none !important;
}

.view-players-btn:hover {
  color: #0069ed;
  background: None;
}

.info {
  color: black;
  font-size: 10pt;
  text-align: center;
}

.player-section {
  display: block;
}

.add-player-btn {
  border: None;
  background: None;
  padding: 5px;
  margin: 3px;
  color: #0069ed;
  text-transform: uppercase;
  font-size: 11pt;
}

.new-lineup-btn {
  background: None;
  border: None;
}


.lineups-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.lineup-card li {
  font-size: 11pt;
  color: black;
}

.selected {
  outline: 2px solid #9e9e9e;
}

.lineup-card {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: Inter;
  height: fit-content;
  margin: 3px;
  padding: 20px;
  list-style: none;
  background-color: #ffffff;
  width: 100%;
  box-shadow: 0px 0px 3px 1px lightgray;
  border-radius: 3px;
}

.lineup-card ul {
  list-style-type: None;
}

/*.lineup-card:hover {
  outline: 1px solid #9e9e9e;
  cursor: pointer;
}*/

.form-submit-btn {
  border: None;
  background-color: #2d78fa;
  color: white;
  border-radius: 5px;
  padding: 7px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.expand-lineup-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.expand-lineup-wrapper:hover {
  cursor: pointer;
}

.expand-lineup-btn {
  width: 100%;
  color: #0069ed;
  font-size: 15pt;
}

.lineup-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
}


.view-lineup-btn {
  text-decoration: None;
  text-align: center;
  color: #0069ed;
}

.view-lineup-btn:hover {
  cursor: pointer;
}

hr {
  background: #9e9e9e;
  height: 1px;
  border: None;
  margin: 5px;
}

h4 {
  font-size: 12pt;
  color: black;
}

 p {
  font-size: 10pt;
  color: black;
 }

 strong {
  color: black;
 }

 .website-title {
  font-family: 'Inconsolata';
  font-weight: 600;
  margin-bottom: 50px;
  font-size: 20pt;
 }
