@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  padding: 0;
  margin: 0;
}

html {
}

nav {
  height: 50px;
  background-color: #202033;
}

body {
  background-color: #f0f3f8;
  font-family: 'Nunito', sans-serif;
}

.main {
  display: flex;
  justify-content: space-around;
}

.hidden {
  display: None;
}

.form-control {
  border: None;
}

.wagerform {
  display: flex;
}

.ring {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.lineup-wrapper {
  margin-top: 50px;
}

.players-wrapper {
  margin-top: 50px;
}

.header {
  background-color: #ffffff;
}

.filter-btn-active {
  border: 1px solid #0069ed;
  background-color: #0069ed;
  color: #ffffff;
  padding: 5px;
}

.filter-btn {
  border: 1px solid #0069ed;
  color: #0069ed;
  background-color: #ffffff;
  padding: 5px;
}

.filter-btn-wrapper {
  padding: 10px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.delete-lineup-link {
  text-decoration: none;
  color: #991728;
}

.lineup, .players {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.player-search-form {
  padding: 10px;
  display: flex;
  justify-content: center;
  margin-bottom: 0;
}

.pos-label {
  color: black;
  background-color: #d3d3d3;
  padding: 3px;
  margin: 3px;
  text-transform: uppercase;
  font-size: 11pt;
}

.players, .lineup {
  box-shadow: 0px 0px 3px 1px lightgray;
}

.players {
  display: flex;
  flex-direction: column;
  align-content: center;
  max-height: 80vh;
  overflow: auto;
}

.player {
  height: 80px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 5px;
  border: 1px solid #d3d3d3;
}

.player-body {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.player-info {
  margin-left: 40px;
  margin-top: 15px;
}

/*.player:hover {
  border: 1px solid #9e9e9e;
}*/

.delete-btn, .add-btn {
  text-align: right;
  margin-bottom: -7px;
}

.delete-lineup-btn {
  display: block;
  color: #ffffff;
  background: #f6404f;
  font-size: 12pt;
  padding: 5px;
  margin: 5px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border: solid 1px #f6404f;
  border-radius: 3px;
  text-decoration: none;
}

.delete-lineup-btn:hover {
  background: None;
  color: #f6404f;
}

.view-players-btn {
  display: block;
  background: #0069ed;
  color: #ffffff;
  font-size: 12pt;
  padding: 5px;
  margin: 5px;
  width: 50%;
  border: solid 1px #0069ed;
  border-radius: 3px;
  margin-right: auto;
  margin-left: auto;
  text-decoration: none !important;
}

.view-players-btn:hover {
  color: #0069ed;
  background: None;
}

.info {
  color: black;
  font-size: 10pt;
  text-align: center;
}

.player-section {
  display: block;
}

.graphs-wrapper {
  display: flex;
}

input {
  margin-left: 10px;
}

.cancel-add-btn {
  border: None;
  background: None;
  padding: 5px;
  margin: 3px;
  color: #991728;
  text-transform: uppercase;
  font-size: 11pt;
}

.add-player-btn {
  border: None;
  background: None;
  padding: 5px;
  margin: 3px;
  color: #0069ed;
  text-transform: uppercase;
  font-size: 11pt;
}

.back-btn-wrapper {
  background: #2d78fa;
  display: flex;

}

.back-btn:hover, {
  color: #ffffff;
  border-bottom: 3px solid #ffffff;
}

.back-btn {
  color: #ffffff;
  font-size: 13pt;
  text-decoration: None;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggle-lineupform-btn {
  padding: 10px;
  background: None;
  border: None;
  color: #0069ed;
  width: 100%;
}

.toggle-lineupform-btn:hover {
  color: #202033;
}

.new-lineup-btn {
  background: None;
  border: None;
}

.lineupform-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #d3d3d3;
  border-radius: 3px;
  background-color: #ffffff;
  box-shadow: 0px 0px 3px 1px lightgray;
  width: fit-content;
  height: fit-content;
}

.graph {
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0px 0px 3px 1px lightgray;
  margin: 30px;
}


.lineupform {
  padding: 10px;
  box-shadow: None !important;
  display: flex;
  flex-direction: column;
  border: None;
  justify-content: space-around;
}

.lineups-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.lineup-card li {
  font-size: 11pt;
  color: black;
}

.selected {
  outline: 2px solid #9e9e9e;
}

.lineup-card {
  display: inline-block;
  font-family: Inter;
  height: fit-content;
  margin: 3px;
  padding: 20px;
  list-style: none;
  background-color: #ffffff;
  width: 250px;
  box-shadow: 0px 0px 3px 1px lightgray;
  border-radius: 3px;
}

.lineup-card ul {
  list-style-type: None;
}

/*.lineup-card:hover {
  outline: 1px solid #9e9e9e;
  cursor: pointer;
}*/

.form-submit-btn {
  border: None;
  background-color: #2d78fa;
  color: white;
  border-radius: 5px;
  padding: 7px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.expand-lineup-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.expand-lineup-wrapper:hover {
  cursor: pointer;
}

.expand-lineup-btn {
  width: 100%;
  color: #0069ed;
  font-size: 15pt;
}

.lineup-card-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.view-lineup-btn {
  text-decoration: None;
  text-align: center;
  color: #0069ed;
}

.view-lineup-btn:hover {
  cursor: pointer;
}

hr {
  background: #9e9e9e;
  height: 1px;
  border: None;
  margin: 5px;
}

h1 {
  text-align: center;
  font-size: 20pt;
  padding: 5px;
}

h2 {
  font-size: 15pt;
  text-align: center;
  color: black;
}

h3 {
  font-size: 13pt;
  color: blue;
}

h4 {
  font-size: 12pt;
  color: black;
}

 p {
  font-size: 10pt;
  color: black;
 }

 strong {
  color: black;
 }
