.playerNew {

    background-color: white;
    border: 1px solid grey;
    display: flex;
    flex-direction: row;
    width: 500px;
    padding: 8px;

    .playerImage {
        align-self: flex-end;
        height: 100%;
    }

    .positionAndNumber {
        width: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .playerPosition {
            font-size: 12pt;
            font-weight: 600;
        }

        .playerNumber {
            font-size: 10pt;
        }
    }

    .playerData {
        display: flex;
        flex-direction: column;
        flex: 5;

        .playerName {
            display: flex;
            flex: 2;

            p {
                height: 100%;
                line-height: 0.6rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                font-size: 12pt;
                color: blue;

                .firstName {
                    font-weight: 400;
                }

                .lastName {
                    font-weight: 700;
                }

            }
        }

        .playerInfo {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            width: fit-content;
            flex: 100%;

            .infoBlock {
                margin-right: 10px;

                p {
                    line-height: 6pt;
                    display: flex;
                    flex-direction: row;
                    height: 100%;
                    justify-content: center;
                    align-items: center;

                    .value {
                        font-size: 10pt;
                        font-weight: 600;
                        margin-right: 4px;
                    }

                    .label {
                        font-size: 10pt;
                        color: gray;
                    }

                }
            }
        }
    }

    .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;

        .addIcon {
            color: #0069ed;
            font-size: 14pt;
            cursor: pointer;
        }
    }


}