[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
requests = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
psycopg2-binary = "*"
flask-cors = "*"
redis = "*"

[dev-packages]

[requires]
python_version = "3.9"
