.history-page {
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	overflow: hidden;

	.header {
		width: 100%;
		display: flex;
		justify-content: center;
		background-color: white;

		.header-inner {
			width: 100%;
			max-width: 1200px;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			margin: 10px;
		}

		.selectors {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;

			select {
				margin-right: 10px;
				padding: 4px 16px 4px 8px;
				font-size: 11pt;
			}

			.week-select {
				width: 120px;
			}

			.year-select {
				width: 100px;
			}
		}

		.player-search {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;

			.search-input {
				font-size: 11pt;
				padding: 2px 20px 2px 8px;
				margin: 0px 10px 0px 10px;
			}

			.search-btn {
				font-size: 11pt;
				border-radius: 2px;
				padding: 4px 12px 4px 12px;
				height: fit-content;
				margin: 0;
			}

		}
	}
}
